html,body{
  height:1000px;
  overflow-y: hidden;
  overflow-x: hidden;
}
th{
background: rgb(25, 112, 255);

}
td{

  border-bottom:1px solid rgb(232, 232, 232);

}
td,tr,thead,th,table{
    box-sizing: border-box;
}
td:last-child{
  border-right: 0px solid rgb(232, 232, 232);
}
form{
width: 600px;
  padding:20px 20px;
}
.container-fluid{
  text-align: center;
}
table{
box-shadow:2px 2px 2px rgba(0, 0, 0, 0.2);

}
span.text-danger{
  width: auto;
  font-size:14px;
  float: left;
  display: flex;
  align-self: center;
}
.col-lg-6:last-child{

  align-content: center;
  display:flex;

}
.search{
margin-top: 6px;
margin-right: 10px;
  height: 45px
}

.table-responsive{margin-top:200px;}
.label{
  margin-left: 5px;
  float:left;
}
