html, body {
    overflow-x: hidden;
}
.d{
    background: darkblue;
    color:greenyellow;
}
.main-table thead th {
    background-color: rgb(25, 112, 255);
    color: white;
}


.main-table td {
    min-width: 150px;
    border-bottom: 1px solid rgb(232, 232, 232);

}

.main-table td, .main-table tr, .main-table thead, .main-table th, .main-table table {
    box-sizing: border-box;
}

.main-table td:last-child {
    border-right: 0px solid rgb(232, 232, 232);
}

.profile-form {
    margin-top: 40px;
    width: 600px;

}

.container-fluid {
    text-align: center;
}

.main-table table {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    min-width: 1000px;
}

.error-h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.error-label {
    margin-top: 300px;
}

.profile-form span.text-danger {
    font-size: 14px;

}

.profile-form-select {

    margin-left: 15px;
    border-left-color: white;
    border-right-color: white;
    border-top-color: white;

    color: #666;
    width: 100px;
    padding-left: 10px;
}


.search {
    margin-top: 6px;
    margin-right: 10px;
    height: 45px
}

.table-responsive {

    margin-top: 200px;

}

.profile-form .label {

    float: left;
}

.btn-main {
    text-align: center;
    line-height: 40px;
    height: 50px;
    padding: 5px 10px;
}

.text-marker {
    background: #fb3;
}
.form-wrapper{
    margin: 20px 20px;
}